body {
  background-color: #0b0b0b;
  color: #ddd;
  font-family: sans-serif;
  line-height: 1.5;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  font-optical-sizing: auto;
  font-synthesis: none;
}